<div class="body-sidebar">
    <nav class="body-side-nav">
      <div class="name-tag">
        <div class="flex-between">
          <div class="small-font font-color">import</div>
          <div>{%- include social.html -%}</div>
        </div>
        <div class="flex-between">
          <div class="small-font font-color"></div>
          <div><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></div>
        </div>
      </div>

      <div class="post-box">
        <div class="flex">
          <div class="small-font font-color padding-right">
            <div>public</div> 
            <div class="padding-bottom" style="text-align: right;">class</div>
          </div>
          <div class="side-title padding-right">Docs</div>
          <div class="small-font font-color padding-bottom">&#123;</div>
        </div>
      
        <ul id="tag-list">
          {% assign tags = site.tags | sort %}
          {% for tag in tags %}
            <div class="body-tag-name" onclick="toggleBodyTag('{{ tag[0] | slugify }}')">
              {{ tag[0] }} <span class="toggle-icon" id="body-icon-{{ tag[0] | slugify }}">+</span>
            </div>
            <ul id="body-posts-{{ tag[0] | slugify }}" class="post-list" style="display: none;">
              {% for post in tag[1] %}
              &emsp;<a href="{{ post.url }}" onclick="setActiveTag('{{ tag[0] | slugify }}')">{{ post.title }}</a><br/>
              {% endfor %}
            </ul>  
          {% endfor %}
        </ul>
        <div class="small-font font-color padding-bottom"> &#125;</div>
      </div>
    </nav>
</div>

<script>
    // Body tag toggle function
    function toggleBodyTag(tag) {
        var postList = document.getElementById('body-posts-' + tag);
        var icon = document.getElementById('body-icon-' + tag);
        if (postList.style.display === 'none' || postList.style.display === '') {
            postList.style.display = 'block';
            icon.textContent = '-';
            localStorage.setItem('body-tag-' + tag, 'open');
        } else {
            postList.style.display = 'none';
            icon.textContent = '+';
            localStorage.setItem('body-tag-' + tag, 'closed');
        }
    }

    // Restore body tag visibility function
    function restoreBodyTagVisibility() {
        var bodyTags = document.querySelectorAll('.body-tag-name');
        bodyTags.forEach(function(tagItem) {
            var tag = tagItem.getAttribute('onclick').match(/'([^']+)'/)[1];
            var state = localStorage.getItem('body-tag-' + tag);
            if (state === 'open') {
                document.getElementById('body-posts-' + tag).style.display = 'block';
                document.getElementById('body-icon-' + tag).textContent = '-';
            }
        });
    }

    // 페이지 로드 시 상태 복원
    document.addEventListener('DOMContentLoaded', restoreBodyTagVisibility);
</script>