<aside class="sidebar">
    <nav class="side-nav">
      <div class="name-tag">
        <div class="flex-between">
          <div class="small-font font-color">import GitHub</div>
          <div>{%- include social.html -%}</div>
        </div>
        <div class="flex-between">
          <div class="small-font font-color">import email</div>
          <div><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></div>
        </div>
        <div class="flex-between">
          <div class="small-font font-color">import Other.blog</div>
          <div><a href="https://staticclass.tistory.com/" target="_blank">staticclass.tistory.com</a></div>
        </div>
      </div>

      <div class="post-box">
        <div class="flex">
          <div class="small-font font-color padding-right">
            <div>public</div>
            <div class="padding-bottom" style="text-align: right;">class</div>
          </div>
          <div class="side-title padding-right">Docs</div>
          <div class="small-font font-color padding-bottom">&#123;</div>
        </div>
      
        <ul class="tag-list" id="tag-list">
          {% assign tags = site.tags | sort %}
          {% for tag in tags %}
            <div class="tag-name" onclick="toggleTag('{{ tag[0] | slugify }}')">
              {{ tag[0] }} <span class="toggle-icon" id="icon-{{ tag[0] | slugify }}">+</span>
            </div>
            <ul id="posts-{{ tag[0] | slugify }}" class="post-list" style="display: none;">
              {% assign sorted_posts = tag[1] | sort: 'title' %}
              {% for post in sorted_posts %}
              &emsp;<a href="{{ post.url }}" onclick="setActiveTag('{{ tag[0] | slugify }}')">{{ post.title }}</a><br/>
              {% endfor %}
            </ul>  
          {% endfor %}
        </ul>
        <div class="small-font font-color padding-bottom"> &#125;</div>
      </div>
    </nav>
  </aside>

  <script>
    // 태그 열고 닫기
    function toggleTag(tag) {
        var postList = document.getElementById('posts-' + tag);
        var icon = document.getElementById('icon-' + tag);
        if (postList.style.display === 'none' || postList.style.display === '') {
            postList.style.display = 'block';
            icon.textContent = '-';
            localStorage.setItem('tag-' + tag, 'open');
        } else {
            postList.style.display = 'none';
            icon.textContent = '+';
            localStorage.setItem('tag-' + tag, 'closed');
        }
    }

    // 새로고침 해도 펼쳐진 태그 내용 유지하기
    document.addEventListener('DOMContentLoaded', function() {
        var tags = document.querySelectorAll('.tag-item');
        tags.forEach(function(tagItem) {
            var tag = tagItem.querySelector('.tag-name').getAttribute('onclick').match(/'([^']+)'/)[1];
            var state = localStorage.getItem('tag-' + tag);
            if (state === 'open') {
                document.getElementById('posts-' + tag).style.display = 'block';
                document.getElementById('icon-' + tag).textContent = '-';
            }
        });

        // 활성 태그 강조
        var activeTag = localStorage.getItem('active-tag');
        if (activeTag) {
            document.getElementById('posts-' + activeTag).style.display = 'block';
            document.getElementById('icon-' + activeTag).textContent = '-';
        }
    });

    // 태그 보이기
    function setActiveTag(tag) {
        localStorage.setItem('active-tag', tag);
    }

    // //태그 상태 초기화
    // function resetTagState() {
    //         var tags = document.querySelectorAll('.tag-item .tag-name');
    //         tags.forEach(function(tagItem) {
    //             var tag = tagItem.getAttribute('onclick').match(/'([^']+)'/)[1];
    //             localStorage.removeItem('tag-' + tag);
    //         });
    //         localStorage.removeItem('active-tag');
    //     }
    //     document.addEventListener('DOMContentLoaded', resetTagState);

</script>



