.small-font {
  font-size: 10px;
}

.font-color {
  color: rgb(255, 132, 0) !important;
}

.flex {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

.flex-between {
  display: flex; 
  justify-content: space-between;
}

.side-title {
    font-size: 34px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-right {
    padding-right: 6px;
}

.align-right {
    text-align: right;
}


.flex-right{
    justify-content:flex-end;
}
