---
layout: default
---

<div class="home">

  {{ content }}

  <a href="https://github.com/xoasml" target="_blank" title="GitHub 바로가기"><img class="shadow add-padding" src="https://ghchart.rshah.org/xoasml"/></a>
  
  <br/>
  <br/>
  <br/>

  <div >
    {%- if site.posts.size > 0 -%}
     <h2 class="post-list-heading">{{ page.list_title | default: "Update" }}</h2>
       {%- assign limited_posts =
         site.posts | slice: 0, 5 -%}
       {%- for post in limited_posts -%}
         {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
         <span class="post-meta">{{ post.date | date: date_format }}</span>
           <a class="post-list" href="{{ post.url | relative_url }}">
             {{ post.title | escape }}
           </a><br/>
         {%- if site.show_excerpts -%}
           {{ post.excerpt }}
         {%- endif -%}
       {%- endfor -%}
     {%- endif -%}
   </div>
</div>

<script>
        // 로컬 스토리지에서 태그 상태 초기화
        function resetTagState() {

            localStorage.removeItem('active-tag');

            var tags = document.querySelectorAll('.tag-item .tag-name');
            tags.forEach(function(tagItem) {
                var tag = tagItem.getAttribute('onclick').match(/'([^']+)'/)[1];
                localStorage.removeItem('tag-' + tag);
                
            });
            
        }
        document.addEventListener('DOMContentLoaded', resetTagState);
</script>