---
layout: default
---

<div class="home">


<div class="home-margin-bottom">
  <div class="home-name">김태훈</div>
  <div class="home-description">BackEnd Developer</div>
</div>


  <a href="https://github.com/xoasml" target="_blank" title="GitHub 바로가기"><img class="shadow add-padding" src="https://ghchart.rshah.org/xoasml"/></a>

  {{ content }}

  <hr>
  
  <div>
    {%- if site.posts.size > 0 -%}
     <span class="post-list-heading">{{ page.list_title | default: "Posts" }}</span>
     <span class="home-post-count">글 수 : {{ site.posts.size }}</span><br/>
       {%- for post in site.posts -%}
         {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
         <span class="post-meta">{{ post.date | date: date_format }}</span>
           <a class="post-list" href="{{ post.url | relative_url }}">
             {{ post.title | escape }} {{post.tag}}
           </a><br/>
         {%- if site.show_excerpts -%}
           {{ post.excerpt }}
         {%- endif -%}
       {%- endfor -%}
     {%- endif -%}
   </div>
</div>

<script>
     // 로컬 스토리지에서 태그 상태 초기화
     function resetTagState() {
         localStorage.removeItem('active-tag');
         var tags = document.querySelectorAll('.tag-item .tag-name');
         tags.forEach(function(tagItem) {
             var tag = tagItem.getAttribute('onclick').match(/'([^']+)'/)[1];
             localStorage.removeItem('tag-' + tag);
             
         });
         
     }
     document.addEventListener('DOMContentLoaded', resetTagState);
</script>