---
layout: default
---

<div class="home">


  <a href="https://github.com/xoasml" target="_blank" title="GitHub 바로가기"><img src="https://ghchart.rshah.org/xoasml"/></a>
  

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>

<script>
        // 로컬 스토리지에서 태그 상태 초기화
        function resetTagState() {

            localStorage.removeItem('active-tag');

            var tags = document.querySelectorAll('.tag-item .tag-name');
            tags.forEach(function(tagItem) {
                var tag = tagItem.getAttribute('onclick').match(/'([^']+)'/)[1];
                localStorage.removeItem('tag-' + tag);
                
            });
            
        }
        document.addEventListener('DOMContentLoaded', resetTagState);
</script>